<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function() {
        const siteField = document.getElementById('id_form-0-site');
        const departmentField = document.getElementById('id_form-0-department');

        function fetchFilteredItems() {
            const siteId = siteField.value;
            const departmentId = departmentField.value;

            console.log("Site ID:", siteId);
            console.log("Department ID:", departmentId);

            if (siteId && departmentId) {
                fetch(`/load_items/${siteId}/${departmentId}/`)
                    .then(response => response.json())
                    .then(data => {
                        console.log("Received Data:", data.items);
                        const itemField = document.getElementById('id_form-0-item_code');
                        itemField.innerHTML = "";

                        if (data.items.length > 0) {
                            data.items.forEach(item => {
                                itemField.innerHTML += `<option value="${item.id}">${item.code}</option>`;
                            });
                        } else {
                            itemField.innerHTML = "<option>No items found</option>";
                        }
                    });
            }
        }

        siteField.addEventListener('change', fetchFilteredItems);
        departmentField.addEventListener('change', fetchFilteredItems);
    });


</script>

